<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/cadastro.css">
</head>

<body>
    <div class="container">
        <div class="cadastro-form">

            <h2>Cadastro de Time</h2>

            <form method="post" action="/times/cadastro">
                <!-- Caminho da ação do formulário para cadastrar um novo time -->
                
                <div class="form-group">
                    <label for="CadNomeTime">Time</label>
                    <input type="text" id="CadNomeTime" name="time" required>
                </div>

                <div class="form-group">
                    <label for="CadSetorTime">Setor</label>
                    <input type="text" id="CadSetorTime" name="setor" required>
                </div>

                <div class="error-message">
                    <!-- Exiba mensagens de erro aqui, se necessário -->
                    <p th:text="${param.errorC}" style="color: red; font-size: 12px;"></p>
                </div>
                <div class="form-group">
                    <button type="submit" value="Cadastrar">Cadastrar</button>
                </div>
            </form>
            <div class="success-message">
                <p th:text="${session.cadastroSucessoTime}" style="color: green; font-size: 12px;"></p>
            </div>
            <div class="form-group">
                <a href="/times">
                    <button type="button">Retornar</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>