<!-- src/main/resources/templates/fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
    <!-- Inclua outros cabeçalhos comuns aqui -->
</head>
<body>
    <div class="header_trab" th:fragment="header">
        <div>
            <h2 class="h2_trabalhos" th:text="${pageTitle}"></h2>
        </div>
        <div class="form-group">
            <a th:href="${newButtonLink}">
                <button type="button" class="butao" th:text="${newButtonLabel}"></button>
            </a>
        </div>
    </div>
</body>
</html>
