body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: linear-gradient(239deg, #3B9D5C 0%, #1F477A 100%)
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cadastro-form {
	flex: 1;
	padding: 20px;
    background-color: #ffffff;
}


.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
}

.form-group input {
	width: -webkit-fill-available;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.form-group button {
	background-color: #007bff;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	cursor: pointer;
}

/* Estilos específicos para telas menores (mude os valores de acordo com suas necessidades) */
@media screen and (max-width: 768px) {
    .container {
        width: 100%; /* Ocupa 100% da largura da tela em telas menores */
    }

    .login-form,
    .cadastro-form {
        padding: 10px; /* Reduz o espaço de preenchimento nas colunas em telas menores */
    }

    .form-group input,
    .form-group button {
        width: 100%; /* Faz os campos de entrada e botões ocuparem 100% da largura */
    }
}
